<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <div>
            <h5>Welcome</h5>
            <p>You have successfully login</p>
        </div>

        <form action="/logout" method="post" name="form1">
            <button>Logout</button>
        </form>
    </body>
</html>