<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
    <form action="/users/login" method="post" name="form1">
            <div>
                <label>Email:</label>
                <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="email" value="">
            </div>
            <div>
                <label for="exampleInputEmail1">Password:</label>
                <input type="password" name="password" id="password" aria-describedby="emailHelp" placeholder="password" value="">
            </div>
            <input type="submit" value="Login"><span></span>
            <a href="/register">Register Here</a>
        </form>
    </body>
</html>