<!DOCTYPE html>
<html>
    <head>
        <title>Register User</title>
    </head>
    <body>
        <form action="/users" method="post" name="form1">
            <div>
                <label for="exampleInputEmail1">Name:</label>
                <input type="name" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter name" value="">
            </div>   
            <div>
                <label for="exampleInputEmail1">Email:</label>
                <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" value="">
            </div>
            <div>
                <label for="exampleInputEmail1">Password:</label>
                <input type="password" name="password" id="password" aria-describedby="emailHelp" placeholder="*********" value="">
            </div>
            <input type="submit" value="Register">
            <a href="/login">Login</a>
        </form> 
    </body>
</html>